{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<div class="col-md-9 px-4">
    <div class="row">
        <div class="col-md-12 block-info">
            <div class="row">
                <div class="col-md-6">
                    <h4>Список ваших консультаций(doctor)</h4>
                </div>
            </div>
            <div class="line"></div>

            <div class="col-md-12 task-header">
                <div class="row">
                    <div class="col-md-3 task-status">
                         <p>Новая</p>
                    </div>

                    <div class="col-md-3 task-status">
                         <p>В работе</p>
                    </div>

                    <div class="col-md-3 task-status">
                         <p>Успех</p>
                    </div>

                    <div class="col-md-3 task-status">
                         <p>Отказ</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 task-body">
                <div class="row">
                    <div class="col-md-3 task-list">

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>


                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>


                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>


                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>


                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>


                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>


                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>


                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                    </div>

                    <div class="col-md-3 task-list">
                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>
                    </div>

                    <div class="col-md-3 task-list">
                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>
                    </div>

                    <div class="col-md-3 task-list">
                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>

                        <div class="task-item">
                            <p class="task-date">25.01.2020</p>
                            <p class="task-time">12:00</p>
                            <p class="task-name">Иванов Иван Иванович</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

{% endblock %}