{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<div class="col-md-9 px-4">
    <div class="row">
        <div class="col-md-12 block-info">
            <div class="row">
                <div class="col-md-5">
                    <h4>Инфомация в моем профиле</h4>
                </div>
                <div class="col-md-7 tab-line">
                    <ul>
                        <li><a href="#">Основная информация</a></li>
                        <li><a href="#">Профессиональная информация</a></li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <form action="{% url 'save_main_data' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3 central avatar">
                        <a href="#"> <img src="/media/{{user_profile.avatar}}" alt=""></a>
                        <a href="#">Загрузить</a><br>
                        <a href="#" style="color:#acacac!important;">Удалить</a>
                    </div>
                    <div class="col-md-9">
                        <input type="text" name="fio" value="{{user_profile.fio}}">
                        <input type="text" name="" value="Дата рождения (дд.мм.гггг)">
                        <input type="text" name="city" value="{{user_profile.city}}">
                        <select class="" name="" value="(UTC +3:00) Москва, Санкт-Петербург, Воронеж, Казань">
                            <option value="">(UTC +3:00) Москва, Санкт-Петербург, Воронеж, Казань</option>
                            <option value="">(МСК+3, UTC+7): Республика Алтай, Алтайский край, Новосибирская, Омская, Томская области.</option>
                        </select>
                        <div class="sex-input">
                            <p>Пол:</p>
                            <p> <input type="radio" name="sex_input" value="Мужской"> Мужской</p>
                            <p><input type="radio" name="sex_input" value="Женский"> Женский</p>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="email" value="{{user.email}}">
                                <input type="text" name="skype" value="{{user_profile.skype}}">
                                <input type="text" name="whatsapp" value="{{user_profile.whatsapp}}">
                                <button type="submit" name="button">Сохранить изменения</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}