{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<div class="col-md-9 px-4">
    <div class="row">
        <div class="col-md-12 block-info">
            <div class="row">
                <div class="col-md-5">
                    <h4>Инфомация в моем профиле</h4>
                </div>

            </div>
            <div class="line"></div>
            <form action="{% url 'save_main_data' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3 central avatar">

                        {% if user_profile.avatar != '' %}
                            <img src="/media/{{user_profile.avatar}}" alt="" class="avatar_image">
                        {% else %}
                            <img src="{% static 'img/user.png' %}" alt="" class="avatar_image">
                        {% endif %}

                        <label for="avatar" style="cursor:pointer">Загрузить</label>
                        <input type="file" id="avatar" name="avatar" class="avatar" style="display:none">
                        <input type="hidden" id="avatar_none" class="avatar_none"  name="avatar_none" >
                        <br>
                        <a href="#" style="color:#acacac!important;" class="remove-avatar">Удалить</a>
                    </div>
                    <div class="col-md-9">
                        <input type="text" name="fio" value="{{user_profile.fio}}" placeholder="ФИО" required>
                        <input type="text" name="dob" class="dob" value="{{user_profile.dob}}" placeholder="Дата рождения (дд.мм.гггг)" required>
                        <input type="text" name="city" id="user-city" value="{{user_profile.city}}" placeholder="Город" required>

                        <select class="" name="timezone">

                            {% for item in timezone %}
                                {% if user_profile.time_zone == item.name  %}
                                    <option value="{{ item.name }}">{{ item.title }}</option>
                                    <option disabled>---</option>
                                {% endif %}
                            {% endfor %}

                            {% for item in timezone %}
                                <option value="{{ item.name }}">{{ item.title }}</option>
                            {% endfor %}

                        </select>

                        <div class="sex-input">
                            <p>Пол:</p>

                            {%if user_profile.gender == "male" %}
                                <p><input type="radio" name="gender" value="male" checked>Мужской</p>
                            {% else %}
                                {%if user_profile.gender == "" %}
                                    <p><input type="radio" name="gender" value="male" checked>Мужской</p>
                                {% else %}
                                    <p><input type="radio" name="gender" value="male">Мужской</p>
                                {% endif %}
                            {% endif %}

                            {%if user_profile.gender == "female" %}
                                <p><input type="radio" name="gender" value="female" checked> Женский</p>
                            {% else %}
                                <p><input type="radio" name="gender" value="female"> Женский</p>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="email" value="{{user.email}}" placeholder="E-mail">
                                <input type="text" name="skype" value="{{user_profile.skype}}" placeholder="Skype">
                                <input type="text" name="whatsapp" value="{{user_profile.whatsapp}}" placeholder="Whatsapp">
                                <br>
                                <button type="submit" name="button">Сохранить изменения</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="line"></div>

            {% if user.groups.all.0.name == "doctors" %}
                <form action="{% url 'save_doctor_data' %}" method="POST" class="row">
                    {% csrf_token %}

                    <div class="col-md-7 checkbox-block">

                        <h5>*Общая</h5>

                        {% if user_doctor.doctor == True %}
                            <input type="checkbox" name="doctor" class="doctor_chk" value="True" checked> Я врач <img src="{% static 'img/question.png' %}" alt="Я врач" title="Здесь будет текст информации">
                        {% else %}
                            <input type="checkbox" name="doctor" class="doctor_chk" value="False"> Я врач <img src="{% static 'img/question.png' %}" alt="Я врач" title="Здесь будет текст информации">
                        {% endif %}

                        <br>

                        {% if user_doctor.consultant == True %}
                            <input type="checkbox" name="consultant" class="doctor_chk" value="True" checked> Я консультант <img src="{% static 'img/question.png' %}" alt="Я консультант" title="Здесь будет текст информации">
                        {% else %}
                            <input type="checkbox" name="consultant" class="doctor_chk" value="False"> Я консультант <img src="{% static 'img/question.png' %}" alt="Я консультант" title="Здесь будет текст информации">
                        {% endif %}

                        <br>

                        {% if user_doctor.fullDoctor == True %}
                            <input type="checkbox" name="fullDoctor" class="doctor_chk" value="True" checked> Я врач и консультант <img src="{% static 'img/question.png' %}" alt="Я врач и консультант" title="Здесь будет текст информации">
                        {% else %}
                            <input type="checkbox" name="fullDoctor" class="doctor_chk" value="False"> Я врач и консультант <img src="{% static 'img/question.png' %}" alt="Я врач и консультант" title="Здесь будет текст информации">
                        {% endif %}

                        <br>

                        {% if user_doctor.author == True %}
                            <input type="checkbox" name="author" class="doctor_chk" value="True" checked> Я автор видеолекций <img src="{% static 'img/question.png' %}" alt="Я автор видеолекций" title="Здесь будет текст информации">
                        {% else %}
                            <input type="checkbox" name="author" class="doctor_chk" value="False"> Я автор видеолекций <img src="{% static 'img/question.png' %}" alt="Я автор видеолекций" title="Здесь будет текст информации">
                        {% endif %}

                        <br>
                        <br>
                        <select class="" name="orgtype">
                            {% if user_doctor.orgtype != '' %}

                                {% if user_doctor.orgtype == 'ur' %}
                                    <option value="{{user_doctor.orgtype}}">Юридическое лицо</option>
                                {% endif %}

                                {% if user_doctor.orgtype == 'fiz' %}
                                    <option value="{{user_doctor.orgtype}}">Физическое лицо</option>
                                {% endif %}

                                <option disabled>---</option>
                            {% endif %}

                            <option value="ur">Юридическое лицо</option>
                            <option value="fiz">Физическое лицо</option>
                        </select>

                        {% for spec in user_spec %}

                            <div class="row spec-block spec-block-{{ spec.id }}">
                                <div class="col-8">
                                    <input type="text" name="spec[{{ spec.id }}]" value="{{ spec.title }}" placeholder="специальность">
                                </div>
                                <div class="col-4">
                                    <a href="#" class="spec-remove" data-id="{{ spec.id }}">Удалить</a>
                                </div>
                            </div>

                        {% endfor %}

                        <a href="#" class="spec-add">+ Добавить специальность</a>
                        <div class="line"></div>
                        <h4>Специализация</h4>
                        <input type="text" name="specialty" value="{{ user_doctor.specialty }}">


                        {% if user_doctor.patientGrown == True %}
                            <input type="checkbox" name="patientGrown" class="doctor_chk" value="True" checked> Взрослые
                        {% else %}
                            <input type="checkbox" name="patientGrown" class="doctor_chk" value="False"> Взрослые
                        {% endif %}

                        {% if user_doctor.patientChildren == True %}
                            <input type="checkbox" name="patientChildren" class="doctor_chk" value="True" checked> Дети
                        {% else %}
                            <input type="checkbox" name="patientChildren" class="doctor_chk" value="False"> Дети
                        {% endif %}

                        <div class="line"></div>

                        <div class="row">
                            <div class="col-md-12 block-form">
                                <h4>Расскажите об опыте работы</h4>
                                <textarea name="experienceText" rows="8" cols="80" placeholder="Расскажите ос воем опыте работы">{{user_doctor.experienceText}}</textarea>
                                <input type="text" name="experienceYears" value="{{user_doctor.experienceYears}}" placeholder="Стаж">
                            </div>
                        </div>

                        <div class="line"></div>
                        <h4>* Образование</h4>

                        {% for education in user_education %}

                            <div class="row ed-block ed-block-{{ education.id }}">
                                <div class="col-3">
                                    <input type="text" name="edy[{{ education.id }}]" value="{{ education.years }}" placeholder="Года">
                                </div>
                                <div class="col-5">
                                    <input type="text" name="ed[{{ education.id }}]" value="{{ education.name }}" placeholder="Название организации">
                                </div>
                                <div class="col-4">
                                    <a href="#" class="ed-remove" data-id="{{ education.id }}">Удалить</a>
                                </div>
                            </div>

                        {% endfor %}

                        <a href="#" class="ed-add">+ Добавить учебное заведение</a>

                        <div class="line"></div>
                        <h4>Членство в ассоциациях</h4>

                        {% for association in user_associations %}

                            <div class="row as-block as-block-{{ association.id }}">
                                <div class="col-8">
                                    <input type="text" name="as[{{ association.id }}]" value="{{ association.title }}" placeholder="Название ассоциации">
                                </div>
                                <div class="col-4">
                                    <a href="#" class="as-remove" data-id="{{ association.id }}">Удалить</a>
                                </div>
                            </div>

                        {% endfor %}

                        <a href="#" class="as-add">+ Добавить ассоциацию</a>

                    </div>
                    <div class="col-md-5 documents-block">
                        <h4>Документы <img src="{% static 'img/question.png' %}" alt="Я врач" title="Здесь будет текст информации"></h4>
                        <div class="documents-specialist">
                            <div class="row">
                                <div class="col-4">
                                    <img src="{% static 'img/foto.png' %}" alt="">
                                </div>
                                <div class="col-8">
                                    Диплом о медицинском образовании (для врачей)
                                    <a href="#">Загрузить</a> <a href="#">Удалить</a>

                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="row">
                                <div class="col-4">
                                    <img src="{% static 'img/foto.png' %}" alt="">
                                </div>
                                <div class="col-8">
                                    Диплом о медицинском образовании (для врачей)
                                    <a href="#">Загрузить</a> <a href="#">Удалить</a>

                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="row">
                                <div class="col-4">
                                    <img src="{% static 'img/foto.png' %}" alt="">
                                </div>
                                <div class="col-8">
                                    Диплом о медицинском образовании (для врачей)
                                    <a href="#">Загрузить</a> <a href="#">Удалить</a>

                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="row">
                                <div class="col-4">
                                    <img src="{% static 'img/foto.png' %}" alt="">
                                </div>
                                <div class="col-8">
                                    Диплом о медицинском образовании (для врачей)
                                    <a href="#">Загрузить</a> <a href="#">Удалить</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button type="submit" name="button">Сохранить изменения</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}