{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<div class="col-md-9 px-4">
    <div class="row">
        <div class="col-md-12 block-info">
            <h4>Параметры настроек</h4>
            <div class="line"></div>
            <div class="row">
                <form class="col-md-9" action="{% url 'save_user_settings' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4>Данные для входа</h4>
                    <input type="text" name="phone" value="{{user_profile.phone}}" placeholder="Номер телефона">
                    <input type="text" name="email" value="{{user.email}}" placeholder="dmitro.sparta@gmail.com">
                    <button type="submit" name="button">Сохранить изменения</button>
                </form>
            </div>
            <div class="line"></div>
            <div class="row">
                <div class="col-md-12">
                    <form class="row" action="{% url 'change_user_pass' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-9">
                            <h4>Смена пароля</h4>
                            {{msg}}
                            <input type="password" name="password" placeholder="Новый пароль"  minlength="5" required>
                            <input type="password" name="password2" placeholder="Повторить пароль" minlength="5" required>
                            <button type="submit" name="button">Сохранить изменения</button>
                            <a href="#" style="color:DA2A2A!important;margin-left:10px;">Удалить профиль</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12 block-info">
            <h4>Сообщение в службу поддержки</h4>
            {{txt}}
            <div class="line"></div>
            <form class="row" action="{% url 'save_support_message' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-12 block-form">
                    <textarea name="message" rows="8" cols="80" placeholder="* Текст сообщения"></textarea>
                    <a href="#"><img src="{% static 'img/skrepka.png' %}" alt=""> Прикрепить файл</a><br>
                    <button type="submit" name="button">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}